/_resources/node_modules/
HomeSupply/HomeSupply/bin/
HomeSupply/HomeSupply/obj/
HomeSupply/HomeSupply.Utils/bin/
HomeSupply/HomeSupply.Utils/obj/
/bin/
/obj/
HomeSupply/HomeSupply.v12.suo
/HomeSupply/HomeSupply/bin
/HomeSupply/HomeSupply/obj
/HomeSupply/HomeSupply.Utils/bin
/HomeSupply/HomeSupply.Utils/obj
/HomeSupply/HomeSupply.Service/obj
/HomeSupply/HomeSupply.v12.suo
