/_resources/node_modules/

/HomeSupply/HomeSupply/bin
/HomeSupply/HomeSupply/obj/Debug/HomeSupply.dll
/HomeSupply/HomeSupply/obj/Debug/HomeSupply.pdb
/HomeSupply/HomeSupply/bin/HomeSupply.dll
/HomeSupply/HomeSupply/bin/HomeSupply.pdb
/HomeSupply/HomeSupply/bin/HomeSupply.pdb
/HomeSupply/HomeSupply/bin/HomeSupply.dll
/HomeSupply/HomeSupply.Utils/obj/Debug/HomeSupply.Utils.csprojResolveAssemblyReference.cache
/HomeSupply/HomeSupply.Utils/obj/Debug/HomeSupply.Utils.csproj.FileListAbsolute.txt
/HomeSupply/HomeSupply.Utils/obj/Debug/HomeSupply.Utils.csproj.FileListAbsolute.txt
/HomeSupply/HomeSupply.Utils/obj/Debug/HomeSupply.Utils.csprojResolveAssemblyReference.cache
/HomeSupply/HomeSupply/bin
