<script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>

<button data-sc-key="sbpb_N2ZhMTVlMWQtYmYzNy00ZmE1LTg1ODItMzQ3NjkwMzMyMzlk"
        data-name="Jasmine Green Tea"
        data-description="Smooth tea with a rich jasmine bouquet"
        data-reference="MONTHLY"
        data-amount="3000"
        data-color="#12B830"
        data-receipt="true"
        data-masterpass="true"
        data-redirect-url="http://localhost:64741"
        data-operation="create.token"
        id="sc_btn_1428789625543"
        type="button">
    Buy
</button>